alfy/alfy

bin
src/alfy/alfy*

data

doc/alfy.tex
doc/alfyDoc.aux
doc/alfyDoc.bbl
doc/alfyDoc.blg
doc/alfyDoc.dvi
doc/alfyDoc.log
doc/alfyDoc.pdf
doc/alfyDoc.ps
doc/alfyDoc.toc
doc/date.txt
doc/intro.tex
doc/mat.tex
doc/util.tex
doc/version.txt
doc/prepAlfy.tex
doc/sir.tex

externSrc/*/src/*.o
externSrc/*/src/*~
externSrc/*/src/bwt
externSrc/*/src/ds
externSrc/*/src/unbwt

intro/seedms
intro/*.fasta
intro/intro.sh

lib/*.a
lib/*/*.a

prepAlfy/prepAlfy

scripts/*~

sir/sir

src/alfy/*.o
src/alfy/*~
src/common/*/*.o
src/common/*/*~

tut