bin/

data
doc/alfy.tex
doc/alfyDoc.aux
doc/alfyDoc.bbl
doc/alfyDoc.blg
doc/alfyDoc.dvi
doc/alfyDoc.log
doc/alfyDoc.out
doc/alfyDoc.pdf
doc/alfyDoc.ps
doc/alfyDoc.toc
doc/code/
doc/date.txt
doc/intro.tex
doc/mat.tex
doc/pab.tex
doc/prepAlfy.tex
doc/sir.tex
doc/util.tex
doc/version.txt

intro/

pab/
palfy/
prepAlfy/

sir/
src/*.o
src/alfy

test/
tut




